.container{
    padding: 0px 20px 10px 20px;
    border: black 1px solid;
    box-sizing: border-box;
}

.navbar{
    border: 1px black solid;
    display: flex;
    position: relative;
}

.nav{
    list-style: none;
    display: flex;
    width: 80%;
}

.anav{
    list-style: none;
    width: 5px;
    border: 1px black solid;
}

.login{
    width: auto;
    margin-left: auto;
}

li{
    min-width: 150px;
    margin: 0px 5px 0px 5px;
    min-height: auto;
    text-align: center;
    background: gainsboro;
    border: 1px solid black;
    border-radius: 10px;
}

li:hover{
    background: gray;
}

a{
    text-decoration: none;
}

.aside {
    width: 25%;
    display: flex;
}
